.App {
  
  margin-top: 12rem;
}

.container-center {
 text-align: center; 
  
}

.container {
  max-width: 500px;
  background-color:darkgray ;
  padding:1.5rem;
  margin: auto;
  border-radius: 0.5rem;
}

.app-heading {
  background-color: azure;
  border-radius: 1rem;
  padding-bottom: 1rem;
}

 .userInput {
  height:1.75rem ;
  width: 15rem;
  padding-left: 0.75rem;
  border: black solid 2px;
  border-radius: 0.2rem;
  
}

.container h3 {
  font-size: large;
  font-weight: bold;
}

.container span {
  margin-left: 1rem;
} 