.App {
  max-width: 500px;
  margin: auto;
  max-height: auto;
 
}

.container {
  margin-top: 10rem;
  max-width: 500px;
  background-color:darkgray ;
  padding: 0.5px;
  text-align: center;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
}

.header {
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 2px;
  border-radius: 1rem solid black;
  
}

 .header-heading {
  margin-bottom: 0.25rem;
  margin-top: 5px;
  display: block;
  color:rgb(43, 23, 23) ;
}

.description {
  font-weight: bold;
} 



 .userInput {
  height:1.75rem ;
  width: 15rem;
  padding-left: 0.75rem;
  border: black solid 2px;
  border-radius: 0.2rem;
  
}

.container h3 {
  font-size: large;
  font-weight: bold;
}

.container span {
  margin-left: 1rem;
}  